{% extends 'base.html.twig' %}

{% block title %}{{ 'messenger'|trans }}{% endblock %}

{% block container %}
    <main role="main" class="container-fluid w-75 rounded bg-light border shadow-sm mt-3 p-3">
        <div class="row scroll-container" id="scroller">
            <div class="col">
                <ul class="list-group messages-container" id="messages-container">
                    {% if messages|default %}
                        {% for message in messages %}
                            <li class="list-group-item message mb-1 rounded-lg border">
                                <p>@{{ message.user.firstName }} at {{ message.createdAt|date('d/m/Y H:i:s', message.user.timezone) }}</p>
                                <p>{{ message.message }}</p>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col">
                <form class="form-inline" id="messageForm">
                    <div class="form-group w-100 mt-2">
                        <input id="messageInput"
                               class="form-control w-75 mr-2"
                               placeHolder="{{ 'messageInput'|trans }}..."
                               autocomplete="off"
                        />
                        <button type="submit" class="btn btn-lg btn-light">{{ 'send'|trans }}</button>
                    </div>

                </form>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/socket.io.js') }}"></script>
    <script src="{{ asset('js/xss.min.js') }}"></script>
    <script>
        window.messenger = {
            socket: {
                dsn: '{{ socketDsn }}',
            },
            user: {
                id: '{{ app.user.id }}',
                name: '{{ app.user.firstName }}'
            },
            events: {
                userConnected: 'user-connected',
                userLeave: 'user-leave',
                userJoined: 'user-joined',
                message: 'message',
            },
            routes: {
                saveMessage: '{{ path('save_message') }}',
            }
        };
    </script>
    <script src="{{ asset('js/chat.js') }}"></script>
{% endblock %}