{% extends 'base.html.twig' %}

{% block title %}{{ 'messenger'|trans }}{% endblock %}

{% block container %}
    <main role="main" class="container-fluid w-75 rounded bg-light border shadow-sm mt-3 p-3">
        <div class="row">
            <div class="col-10 scroll-container order-0" id="scroller">
                <ul class="list-group messages-container" id="messageContainer">
                    {% if messages|default %}
                        {% for message in messages %}
                            <li class="list-group-item message mb-1 rounded-lg border">
                                <p>@{{ message.user.firstName }} at {{ message.createdAt|date('d/m/Y H:i:s', app.user.timezone) }}</p>
                                <p>{{ message.message }}</p>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="col-2 order-12">
                <h5>{{ 'online'|trans }} <span class="badge badge-info badge-pill" id="users-counter">0</span></h5>
                <ul class="list-group list-group-flush" id="users-online"></ul>
            </div>
        </div>

        <form id="messageForm">
            <div class="row mt-2">
                <div class="col-8">
                    <label for="messageInput" class="sr-only">{{ 'messageInput'|trans }}</label>
                    <input id="messageInput" class="form-control" placeHolder="{{ 'messageInput'|trans }}..." autocomplete="off"/>
                </div>
                <div class="col-2">
                    <button id="messageSubmit" type="submit" class="btn btn-block btn-light">{{ 'send'|trans }}</button>
                </div>
            </div>
        </form>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/socket.io.js') }}"></script>
    <script src="{{ asset('js/xss.min.js') }}"></script>
    <script>
        window.messenger = {
            socket: {
                dsn: '{{ socketDsn }}',
            },
            user: {
                id: '{{ app.user.id }}',
                name: '{{ app.user.firstName }}'
            },
            events: {
                userConnected: 'user-connected',
                userLeave: 'user-leave',
                userJoined: 'user-joined',
                message: 'message',
            },
            routes: {
                saveMessage: '{{ path('save_message') }}',
            }
        };
    </script>
    <script src="{{ asset('js/chat.js') }}"></script>
{% endblock %}