{# views/base_tmpl.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}App{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('assets/bootstrap.css') }}" rel="stylesheet" />
            <link href="{{ asset('assets/main.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="header-container">
                <div class="header-container-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-md-pull-1">
                                <p class="h5">
                                    <a href="{{ path('_home') }}" class="home-url">
                                    <span class="glyphicon glyphicon-home" aria-hidden="true">
                                    </span>
                                        Home
                                    </a>
                                </p>
                            </div>
                            <div class="col-md-2 col-md-offset-3">
                                <p class="h4">{{ pageName }}</p>
                            </div>
                            {% if userName|default %}
                            <div class="col-md-3 col-md-offset-2">
                                <p class="h5 user-left">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    Logged in as: {{ userName }}</p>
                                <p class="h5">
                                    <a href="{{ path('_logout') }}" class="user-line">
                                    <span class="glyphicon glyphicon-log-out" aria-hidden="true">
                                    </span>
                                        Logout
                                    </a>
                                </p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% block body %}{% endblock %}
        <footer>
            <div class="footer-container">
                <div class="footer-container-text">
                    <p class="h4">Some footer here</p>
                </div>
            </div>
        </footer>
        {% block javascripts %}
            <script src="{{ asset('assets/jquery-1.12.0.js') }}"></script>
            <script src="{{ asset('assets/bootstrap.js') }}"></script>
            {% if userName|default %}
                <script src="{{ asset('assets/node_modules/socket.io-client/socket.io.js') }}"></script>
                <script src="{{ asset('assets/node_modules/moment/moment.js') }}"></script>
                <script src="{{ asset('assets/main.js') }}"></script>
                <script src="{{ asset('assets/xss.min.js') }}"></script>
            {% endif %}
        {% endblock %}
    </body>
</html>
