{# views/chat.twig #}
{% extends 'base_tmpl.twig' %}
{% block body %}
    <section class="chat-holder">
        <ul class="chat-screen">
            {% if messages|default %}
                {% for message in messages %}
                    <li style="color: {{ message.color }}">
                        <strong>{{ message.userName }}</strong> :
                        <span class="time-right">
                            {{ message.msgTime|date('d-m-Y H:i:s') }}
                        </span>
                        <br>
                        {{ message.message }}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </section>

    <section class="users-holder">
        <h5>Users in chat: <p class="count-users"></p></h5>
        <ul class="chat-users"></ul>
    </section>

    <section class="chat-form">
        <form class="form-inline" id="messageForm">
            <input id="nameInput" type="hidden" data-user="{{ userName }}" data-uid="{{ userId }}"/>
            <div class="form-group">
                <textarea
                        id="messageInput"
                        class="message-input"
                        placeHolder="Type your Message here..." ></textarea>
            </div>
            <div class="form-group submit">
                <button type="submit" class="btn btn-lg btn-default">
                    Send
                </button>
            </div>
        </form>
    </section>
{% endblock %}
