{# views/register.twig #}
{% extends 'base_tmpl.twig' %}
{% form_theme form 'form.fields.twig' %}
{% block body %}
    <content>
        <div class="container-head">
            <h4>Registration</h4>
        </div>
        <div class="container">
            <div class="content">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                {% if error|default %}
                    <div class="alert alert-warning alert-dismissible fade in"
                         role="alert"
                    >
                        <button type="button"
                                class="close"
                                data-dismiss="alert"
                                aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ error }}
                    </div>
                {% endif %}

                <div class="form-group">
                    {{ form_errors(form.userName) }}
                    {{ form_label(
                            form.userName,
                            null ,
                            {'label_attr': {'class': 'col-md-4 control-label'}}
                        )
                    }}
                    <div class="col-md-8">
                        {{ form_widget(form.userName) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_errors(form.email) }}

                    {{ form_label(
                            form.email,
                            null ,
                            {'label_attr': {'class': 'col-md-4 control-label'}}
                        )
                    }}

                    <div class="col-md-8">
                        {{ form_widget(form.email) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_errors(form.plainPassword.first) }}

                    {{ form_label(
                            form.plainPassword.first,
                            null ,
                            {'label_attr': {'class': 'col-md-4 control-label'}}
                        )
                    }}

                    <div class="col-md-8">
                        {{ form_widget(form.plainPassword.first) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_errors(form.plainPassword.second) }}
                    {{ form_label(
                            form.plainPassword.second,
                            null ,
                            {'label_attr': {'class': 'col-md-4 control-label'}}
                        )
                    }}

                    <div class="col-md-8">
                        {{ form_widget(form.plainPassword.second) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_errors(form.termsAccepted) }}
                    {{ form_label(
                            form.termsAccepted,
                            null ,
                            {'label_attr':
                                {'class':
                                    'col-md-4
                                    control-label'
                                }
                            }
                        )
                    }}

                    {{ form_widget(form.termsAccepted) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5 login-button">
                        {{ form_widget(form.signUp) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </content>
{% endblock %}