<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/bootstrap-grid.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/bootstrap-reboot.min.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>

<body>
<footer class="container-fluid">
    <nav class="navbar navbar-light rounded-bottom" style="background-color: #e3f2fd;">
        <div class="row">
            <div class="col-auto">
                <a href="{{ path('messenger') }}" class="navbar-brand">
                    <img src="{{ asset('icons/house.svg') }}" width="30" height="30" title="House">
                </a>
            </div>
            {% if app.user %}
                <div class="col-auto">
                    <p class="text-body">Logged in as: {{ app.user.username }}
                        <a href="{{ path('logout') }}" class="">Logout</a>
                    </p>
                </div>
            {% endif %}
        </div>
    </nav>
</footer>

<main role="main" class="container w-50">
    <div class="row rounded shadow-sm mt-5 p-2 bg-light border">
        {% block body %}{% endblock %}
    </div>
</main>
{% block javascripts %}
    <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
