<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/bootstrap-reboot.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    {% endblock %}
</head>

<body class="bg-light">
<nav class="navbar navbar-light navbar-expand" style="background-color: #e3f2fd;">
    <div class="w-100 order-1 order-md-0">
        <a href="{{ path('messenger') }}" class="navbar-brand mr-0">{{'messenger'|trans}}</a>
    </div>

    <div class="collapse navbar-collapse order-12 order-md-0" id="navbarSupportedContent">
        <ul class="navbar-nav px-3 mr-auto">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item text-nowrap active border-right">
                    <a class="nav-link" href="javascript:void(0)">{{ 'hello'|trans }}, {{ app.user.firstName }}</a>
                </li>
                <li class="nav-item text-nowrap active">
                    <a class="nav-link" href="{{ logout_path() }}">{{ 'signOut'|trans }}</a>
                </li>
            {% else %}
                <li class="nav-item text-nowrap active">
                    <a class="nav-link" href="{{ path('login') }}">{{ 'signIn'|trans }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% for label, messages in app.flashes(['success', 'notice']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {{ message|trans }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endfor %}

{% block container %}
    <main role="main" class="container w-50 rounded shadow-sm mt-3 p-3 bg-light border">
        <div class="row">
            {% block body %}{% endblock %}
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
